/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 body {
   font-family: 'Montserrat', sans-serif;
 }


/* UTILITIES */

.container {
  width: 80%;
  min-width: 600;
  max-width: 1300;
  margin: 0 auto;
  /* background-color: red; */
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* HEADER */

.banner {
  background-color: white;;
  height: 200px;
  margin-bottom: 20px;
  margin-top: 1px;
}

.logo {
  height: 100px;
  margin-bottom: 30px;
}

header .container ul {
  list-style-type: none;
  color: #919191;
}

header .container ul li {
  float: left;
  display: inline-block;
  margin-right: 20px;
  /* background-color: red; */
}

.bootstrap {
  background-color: #e1d67a;
  height: 400px;
  margin-bottom: 20px;
  /* margin-top: 20px; */
}

.banner {
  
}

/* MAIN */

.box.container {
  background-color: #0886fe;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.main-top {
  height: 60px;
  background-color: #abcfe7;
  margin-bottom: 10px;
}

.main-bottom {
  height: 400px;
  background-color: #0886fe;
}

.col-right {
  float: right;
  width: 20%;
  height: 400px;
  background-color: #abcfe7;
  margin-left: 1%;
}

.col-left {
  float: left;
  width: 20%;
  height: 400px;
  background-color: #abcfe7;
  margin-right: 1%;
}

.center {
  width: 58%;
  height: 400px;
  background-color: #abcfe7;
  float: right;
}

/* FOOTER */

footer div.container {
  background-color: #8801fe;
  height: 40px;
  margin-bottom: 10px;
}