/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 body {
   font-family: 'Montserrat', sans-serif;
 }


/* UTILITIES */

.container {
  width: 80%;
  min-width: 600;
  max-width: 1300;
  margin: 0 auto;
  /* background-color: red; */
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* HEADER */

.banner {
  background-color: white;;
  height: 200px;
  margin-bottom: 20px;
  margin-top: 1px;
}

.logo {
  height: 100px;
  margin-bottom: 30px;
}

.logo-container {
  width: 260px;
  height: 100px;
  border-right: 1px solid #919191;
  margin-bottom: 50px;
}

header .container ul {
  list-style-type: none;
  color: #919191;
}

header .container ul li {
  display: inline-block;
  /* margin-right: 20px; */
  /* background-color: red; */
  padding: 5px 10px 5px 0px;
}

header .container ul li a {
  text-decoration: none;
  color: #919191;
}

header .container ul li a:hover {
  text-decoration: underline;
  color: #121212;
}

.bootstrap {
  background-color: #e1d67a;
  height: 500px;
  margin-bottom: 20px;
  /* margin-top: 20px; */
  background-image: url('/assets/img/banner.jpg');
  background-size: cover;
  background-position: center;
  /* overflow: hidden; */
}

.darken {
  background-color: rgba(0, 0, 0, .2);
  height: 100%;
  border-radius: 10px;
  /* overflow: hidden; */
}

.darken p {
  color: white;
  /* padding: ; */
}

.text-bootstrap {
  padding: 320px 50px;
  width: 600px;
}

.text-bootstrap p:first-child {
  font-size: x-large;
}

/* .banner {
  
} */

/* MAIN */

.box.container {
  /* background-color: #0886fe; */
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.main-top {
  height: 60px;
  /* background-color: #abcfe7; */
  margin-bottom: 10px;
}

.main-bottom {
  /* height: 400px; */
  /* background-color: #0886fe; */
  color: #919191;
}

.main-bottom h3 {
  color: black;
}

.col-right {
  float: right;
  width: 20%;
  /* height: 400px; */
  /* background-color: #abcfe7; */
  margin-left: 1%;
}

.col-left {
  float: left;
  width: 20%;
  /* height: 400px; */
  /* background-color: #abcfe7; */
  margin-right: 1%;
}

.center {
  width: 58%;
  /* height: 400px; */
  /* background-color: #abcfe7; */
  float: right;
}

.main-top h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.main-top p {
  color: #919191;
}

.col-right-picture-box {
  background-image: url('/assets/img/img-3.jpg');
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.col-left-picture-box {
  background-image: url('/assets/img/img-1.jpg');
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.center-picture-box {
  background-image: url('/assets/img/banner-2.jpg');
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}



/* FOOTER */

footer div.container {
  background-color: #8801fe;
  height: 40px;
  margin-bottom: 10px;
}

.main-bottom img {
  width: 100%;
  height: 100px;
}